*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

.popups-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  pointer-events: none;
  transition: z-index 0s 0.8s;
}
.popups-cont.s--popup-active {
  z-index: 1000;
  pointer-events: auto;
  transition: z-index 0s 0s;
  background-color: rgba(0, 0, 0, 0.3450980392);
}
.popups-cont__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.35s;
}
.popups-cont.s--popup-active .popups-cont__overlay {
  opacity: 1;
  transition: opacity 0.35s 0.35s;
}

.popup {
  z-index: 2;
  position: relative;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
}
.popup .popup__piece:nth-child(1) {
  height: 21.6666666667%;
  width: 12.6666666667%;
}
.popup .popup__piece:nth-child(1) .popup__piece-inner:nth-child(1) {
  transform: translate3d(42vw, 30vh, -625px) rotateX(383deg) rotateY(211deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 51% 100%);
          clip-path: polygon(0 0, 0 100%, 51% 100%);
}
.popup .popup__piece:nth-child(1) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-51vw, 55vh, -433px) rotateX(170deg) rotateY(342deg);
  -webkit-clip-path: polygon(0 0, 51% 100%, 100% 0);
          clip-path: polygon(0 0, 51% 100%, 100% 0);
}
.popup .popup__piece:nth-child(1) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-8vw, -56vh, -43px) rotateX(218deg) rotateY(328deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 51% 100%);
          clip-path: polygon(100% 0, 100% 100%, 51% 100%);
}
.popup.s--closed .popup__piece:nth-child(1) {
  transform: translate3d(0, 119vh, 0);
}
.popup.s--closed .popup__piece:nth-child(1) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-76vw, 0, 0) rotateX(348deg) rotateY(464deg);
}
.popup.s--closed .popup__piece:nth-child(1) .popup__piece-inner:nth-child(2) {
  transform: translate3d(53vw, 0, 0) rotateX(246deg) rotateY(451deg);
}
.popup.s--closed .popup__piece:nth-child(1) .popup__piece-inner:nth-child(3) {
  transform: translate3d(67vw, 0, 0) rotateX(297deg) rotateY(247deg);
}
.popup .popup__piece:nth-child(2) {
  height: 21.6666666667%;
  width: 16.6666666667%;
}
.popup .popup__piece:nth-child(2) .popup__piece-inner:nth-child(1) {
  transform: translate3d(33vw, 59vh, 796px) rotateX(173deg) rotateY(439deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 39% 100%);
          clip-path: polygon(0 0, 0 100%, 39% 100%);
}
.popup .popup__piece:nth-child(2) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-10vw, -36vh, 144px) rotateX(361deg) rotateY(336deg);
  -webkit-clip-path: polygon(0 0, 39% 100%, 100% 0);
          clip-path: polygon(0 0, 39% 100%, 100% 0);
}
.popup .popup__piece:nth-child(2) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-25vw, -17vh, -239px) rotateX(416deg) rotateY(335deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 39% 100%);
          clip-path: polygon(100% 0, 100% 100%, 39% 100%);
}
.popup.s--closed .popup__piece:nth-child(2) {
  transform: translate3d(0, 110vh, 0);
}
.popup.s--closed .popup__piece:nth-child(2) .popup__piece-inner:nth-child(1) {
  transform: translate3d(6vw, 0, 0) rotateX(324deg) rotateY(367deg);
}
.popup.s--closed .popup__piece:nth-child(2) .popup__piece-inner:nth-child(2) {
  transform: translate3d(13vw, 0, 0) rotateX(264deg) rotateY(287deg);
}
.popup.s--closed .popup__piece:nth-child(2) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-41vw, 0, 0) rotateX(389deg) rotateY(122deg);
}
.popup .popup__piece:nth-child(3) {
  height: 21.6666666667%;
  width: 20.6666666667%;
}
.popup .popup__piece:nth-child(3) .popup__piece-inner:nth-child(1) {
  transform: translate3d(42vw, 3vh, -770px) rotateX(173deg) rotateY(306deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 60% 100%);
          clip-path: polygon(0 0, 0 100%, 60% 100%);
}
.popup .popup__piece:nth-child(3) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-6vw, 38vh, -379px) rotateX(297deg) rotateY(222deg);
  -webkit-clip-path: polygon(0 0, 60% 100%, 100% 0);
          clip-path: polygon(0 0, 60% 100%, 100% 0);
}
.popup .popup__piece:nth-child(3) .popup__piece-inner:nth-child(3) {
  transform: translate3d(55vw, -37vh, 296px) rotateX(165deg) rotateY(453deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 60% 100%);
          clip-path: polygon(100% 0, 100% 100%, 60% 100%);
}
.popup.s--closed .popup__piece:nth-child(3) {
  transform: translate3d(0, 145vh, 0);
}
.popup.s--closed .popup__piece:nth-child(3) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-60vw, 0, 0) rotateX(346deg) rotateY(445deg);
}
.popup.s--closed .popup__piece:nth-child(3) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-72vw, 0, 0) rotateX(413deg) rotateY(185deg);
}
.popup.s--closed .popup__piece:nth-child(3) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-29vw, 0, 0) rotateX(476deg) rotateY(131deg);
}
.popup .popup__piece:nth-child(4) {
  height: 21.6666666667%;
  width: 19.6666666667%;
}
.popup .popup__piece:nth-child(4) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-18vw, -25vh, 484px) rotateX(335deg) rotateY(312deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 53% 100%);
          clip-path: polygon(0 0, 0 100%, 53% 100%);
}
.popup .popup__piece:nth-child(4) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-57vw, 11vh, 228px) rotateX(356deg) rotateY(389deg);
  -webkit-clip-path: polygon(0 0, 53% 100%, 100% 0);
          clip-path: polygon(0 0, 53% 100%, 100% 0);
}
.popup .popup__piece:nth-child(4) .popup__piece-inner:nth-child(3) {
  transform: translate3d(26vw, -19vh, -555px) rotateX(176deg) rotateY(345deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 53% 100%);
          clip-path: polygon(100% 0, 100% 100%, 53% 100%);
}
.popup.s--closed .popup__piece:nth-child(4) {
  transform: translate3d(0, 109vh, 0);
}
.popup.s--closed .popup__piece:nth-child(4) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-28vw, 0, 0) rotateX(422deg) rotateY(297deg);
}
.popup.s--closed .popup__piece:nth-child(4) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-15vw, 0, 0) rotateX(368deg) rotateY(437deg);
}
.popup.s--closed .popup__piece:nth-child(4) .popup__piece-inner:nth-child(3) {
  transform: translate3d(57vw, 0, 0) rotateX(326deg) rotateY(229deg);
}
.popup .popup__piece:nth-child(5) {
  height: 21.6666666667%;
  width: 17.6666666667%;
}
.popup .popup__piece:nth-child(5) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-11vw, 47vh, -733px) rotateX(391deg) rotateY(456deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 33% 100%);
          clip-path: polygon(0 0, 0 100%, 33% 100%);
}
.popup .popup__piece:nth-child(5) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-34vw, 53vh, 561px) rotateX(209deg) rotateY(370deg);
  -webkit-clip-path: polygon(0 0, 33% 100%, 100% 0);
          clip-path: polygon(0 0, 33% 100%, 100% 0);
}
.popup .popup__piece:nth-child(5) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-26vw, 49vh, -110px) rotateX(371deg) rotateY(162deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 33% 100%);
          clip-path: polygon(100% 0, 100% 100%, 33% 100%);
}
.popup.s--closed .popup__piece:nth-child(5) {
  transform: translate3d(0, 127vh, 0);
}
.popup.s--closed .popup__piece:nth-child(5) .popup__piece-inner:nth-child(1) {
  transform: translate3d(38vw, 0, 0) rotateX(276deg) rotateY(138deg);
}
.popup.s--closed .popup__piece:nth-child(5) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-35vw, 0, 0) rotateX(439deg) rotateY(392deg);
}
.popup.s--closed .popup__piece:nth-child(5) .popup__piece-inner:nth-child(3) {
  transform: translate3d(56vw, 0, 0) rotateX(147deg) rotateY(202deg);
}
.popup .popup__piece:nth-child(6) {
  height: 21.6666666667%;
  width: 12.6666666667%;
}
.popup .popup__piece:nth-child(6) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-26vw, -54vh, 358px) rotateX(204deg) rotateY(249deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 66% 100%);
          clip-path: polygon(0 0, 0 100%, 66% 100%);
}
.popup .popup__piece:nth-child(6) .popup__piece-inner:nth-child(2) {
  transform: translate3d(38vw, -14vh, 63px) rotateX(416deg) rotateY(192deg);
  -webkit-clip-path: polygon(0 0, 66% 100%, 100% 0);
          clip-path: polygon(0 0, 66% 100%, 100% 0);
}
.popup .popup__piece:nth-child(6) .popup__piece-inner:nth-child(3) {
  transform: translate3d(16vw, -19vh, -221px) rotateX(338deg) rotateY(390deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 66% 100%);
          clip-path: polygon(100% 0, 100% 100%, 66% 100%);
}
.popup.s--closed .popup__piece:nth-child(6) {
  transform: translate3d(0, 142vh, 0);
}
.popup.s--closed .popup__piece:nth-child(6) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-44vw, 0, 0) rotateX(148deg) rotateY(128deg);
}
.popup.s--closed .popup__piece:nth-child(6) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-69vw, 0, 0) rotateX(348deg) rotateY(133deg);
}
.popup.s--closed .popup__piece:nth-child(6) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-53vw, 0, 0) rotateX(224deg) rotateY(337deg);
}
.popup .popup__piece:nth-child(7) {
  height: 12.6666666667%;
  width: 16.6666666667%;
}
.popup .popup__piece:nth-child(7) .popup__piece-inner:nth-child(1) {
  transform: translate3d(13vw, 34vh, -189px) rotateX(224deg) rotateY(288deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 57% 100%);
          clip-path: polygon(0 0, 0 100%, 57% 100%);
}
.popup .popup__piece:nth-child(7) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-15vw, -59vh, -95px) rotateX(395deg) rotateY(373deg);
  -webkit-clip-path: polygon(0 0, 57% 100%, 100% 0);
          clip-path: polygon(0 0, 57% 100%, 100% 0);
}
.popup .popup__piece:nth-child(7) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-30vw, 13vh, 890px) rotateX(393deg) rotateY(132deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 57% 100%);
          clip-path: polygon(100% 0, 100% 100%, 57% 100%);
}
.popup.s--closed .popup__piece:nth-child(7) {
  transform: translate3d(0, 122vh, 0);
}
.popup.s--closed .popup__piece:nth-child(7) .popup__piece-inner:nth-child(1) {
  transform: translate3d(12vw, 0, 0) rotateX(283deg) rotateY(428deg);
}
.popup.s--closed .popup__piece:nth-child(7) .popup__piece-inner:nth-child(2) {
  transform: translate3d(16vw, 0, 0) rotateX(283deg) rotateY(200deg);
}
.popup.s--closed .popup__piece:nth-child(7) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-79vw, 0, 0) rotateX(244deg) rotateY(242deg);
}
.popup .popup__piece:nth-child(8) {
  height: 12.6666666667%;
  width: 14.6666666667%;
}
.popup .popup__piece:nth-child(8) .popup__piece-inner:nth-child(1) {
  transform: translate3d(22vw, 39vh, 338px) rotateX(160deg) rotateY(409deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 56% 100%);
          clip-path: polygon(0 0, 0 100%, 56% 100%);
}
.popup .popup__piece:nth-child(8) .popup__piece-inner:nth-child(2) {
  transform: translate3d(37vw, 39vh, -401px) rotateX(419deg) rotateY(176deg);
  -webkit-clip-path: polygon(0 0, 56% 100%, 100% 0);
          clip-path: polygon(0 0, 56% 100%, 100% 0);
}
.popup .popup__piece:nth-child(8) .popup__piece-inner:nth-child(3) {
  transform: translate3d(40vw, 49vh, 18px) rotateX(213deg) rotateY(322deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 56% 100%);
          clip-path: polygon(100% 0, 100% 100%, 56% 100%);
}
.popup.s--closed .popup__piece:nth-child(8) {
  transform: translate3d(0, 127vh, 0);
}
.popup.s--closed .popup__piece:nth-child(8) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-70vw, 0, 0) rotateX(234deg) rotateY(318deg);
}
.popup.s--closed .popup__piece:nth-child(8) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-49vw, 0, 0) rotateX(412deg) rotateY(185deg);
}
.popup.s--closed .popup__piece:nth-child(8) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-16vw, 0, 0) rotateX(222deg) rotateY(354deg);
}
.popup .popup__piece:nth-child(9) {
  height: 12.6666666667%;
  width: 13.6666666667%;
}
.popup .popup__piece:nth-child(9) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-27vw, -47vh, 4px) rotateX(199deg) rotateY(234deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 50% 100%);
          clip-path: polygon(0 0, 0 100%, 50% 100%);
}
.popup .popup__piece:nth-child(9) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-30vw, -15vh, 19px) rotateX(194deg) rotateY(399deg);
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
          clip-path: polygon(0 0, 50% 100%, 100% 0);
}
.popup .popup__piece:nth-child(9) .popup__piece-inner:nth-child(3) {
  transform: translate3d(36vw, -12vh, 392px) rotateX(341deg) rotateY(426deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%);
          clip-path: polygon(100% 0, 100% 100%, 50% 100%);
}
.popup.s--closed .popup__piece:nth-child(9) {
  transform: translate3d(0, 135vh, 0);
}
.popup.s--closed .popup__piece:nth-child(9) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-44vw, 0, 0) rotateX(153deg) rotateY(162deg);
}
.popup.s--closed .popup__piece:nth-child(9) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-11vw, 0, 0) rotateX(203deg) rotateY(283deg);
}
.popup.s--closed .popup__piece:nth-child(9) .popup__piece-inner:nth-child(3) {
  transform: translate3d(37vw, 0, 0) rotateX(327deg) rotateY(319deg);
}
.popup .popup__piece:nth-child(10) {
  height: 12.6666666667%;
  width: 14.6666666667%;
}
.popup .popup__piece:nth-child(10) .popup__piece-inner:nth-child(1) {
  transform: translate3d(19vw, 31vh, -192px) rotateX(295deg) rotateY(179deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 59% 100%);
          clip-path: polygon(0 0, 0 100%, 59% 100%);
}
.popup .popup__piece:nth-child(10) .popup__piece-inner:nth-child(2) {
  transform: translate3d(9vw, 2vh, 361px) rotateX(283deg) rotateY(164deg);
  -webkit-clip-path: polygon(0 0, 59% 100%, 100% 0);
          clip-path: polygon(0 0, 59% 100%, 100% 0);
}
.popup .popup__piece:nth-child(10) .popup__piece-inner:nth-child(3) {
  transform: translate3d(17vw, 12vh, -109px) rotateX(320deg) rotateY(358deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 59% 100%);
          clip-path: polygon(100% 0, 100% 100%, 59% 100%);
}
.popup.s--closed .popup__piece:nth-child(10) {
  transform: translate3d(0, 138vh, 0);
}
.popup.s--closed .popup__piece:nth-child(10) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-68vw, 0, 0) rotateX(373deg) rotateY(126deg);
}
.popup.s--closed .popup__piece:nth-child(10) .popup__piece-inner:nth-child(2) {
  transform: translate3d(16vw, 0, 0) rotateX(123deg) rotateY(473deg);
}
.popup.s--closed .popup__piece:nth-child(10) .popup__piece-inner:nth-child(3) {
  transform: translate3d(14vw, 0, 0) rotateX(377deg) rotateY(350deg);
}
.popup .popup__piece:nth-child(11) {
  height: 12.6666666667%;
  width: 19.6666666667%;
}
.popup .popup__piece:nth-child(11) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-19vw, -55vh, -427px) rotateX(442deg) rotateY(450deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 40% 100%);
          clip-path: polygon(0 0, 0 100%, 40% 100%);
}
.popup .popup__piece:nth-child(11) .popup__piece-inner:nth-child(2) {
  transform: translate3d(21vw, 26vh, 853px) rotateX(203deg) rotateY(327deg);
  -webkit-clip-path: polygon(0 0, 40% 100%, 100% 0);
          clip-path: polygon(0 0, 40% 100%, 100% 0);
}
.popup .popup__piece:nth-child(11) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-44vw, 18vh, -741px) rotateX(410deg) rotateY(247deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 40% 100%);
          clip-path: polygon(100% 0, 100% 100%, 40% 100%);
}
.popup.s--closed .popup__piece:nth-child(11) {
  transform: translate3d(0, 143vh, 0);
}
.popup.s--closed .popup__piece:nth-child(11) .popup__piece-inner:nth-child(1) {
  transform: translate3d(56vw, 0, 0) rotateX(440deg) rotateY(152deg);
}
.popup.s--closed .popup__piece:nth-child(11) .popup__piece-inner:nth-child(2) {
  transform: translate3d(46vw, 0, 0) rotateX(332deg) rotateY(363deg);
}
.popup.s--closed .popup__piece:nth-child(11) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-24vw, 0, 0) rotateX(410deg) rotateY(346deg);
}
.popup .popup__piece:nth-child(12) {
  height: 12.6666666667%;
  width: 20.6666666667%;
}
.popup .popup__piece:nth-child(12) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-2vw, 41vh, -810px) rotateX(376deg) rotateY(303deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 40% 100%);
          clip-path: polygon(0 0, 0 100%, 40% 100%);
}
.popup .popup__piece:nth-child(12) .popup__piece-inner:nth-child(2) {
  transform: translate3d(21vw, -27vh, -851px) rotateX(182deg) rotateY(416deg);
  -webkit-clip-path: polygon(0 0, 40% 100%, 100% 0);
          clip-path: polygon(0 0, 40% 100%, 100% 0);
}
.popup .popup__piece:nth-child(12) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-41vw, 26vh, -531px) rotateX(340deg) rotateY(256deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 40% 100%);
          clip-path: polygon(100% 0, 100% 100%, 40% 100%);
}
.popup.s--closed .popup__piece:nth-child(12) {
  transform: translate3d(0, 145vh, 0);
}
.popup.s--closed .popup__piece:nth-child(12) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-15vw, 0, 0) rotateX(437deg) rotateY(153deg);
}
.popup.s--closed .popup__piece:nth-child(12) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-32vw, 0, 0) rotateX(157deg) rotateY(231deg);
}
.popup.s--closed .popup__piece:nth-child(12) .popup__piece-inner:nth-child(3) {
  transform: translate3d(70vw, 0, 0) rotateX(236deg) rotateY(259deg);
}
.popup .popup__piece:nth-child(13) {
  height: 17.6666666667%;
  width: 16.6666666667%;
}
.popup .popup__piece:nth-child(13) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-31vw, 48vh, 171px) rotateX(419deg) rotateY(243deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 45% 100%);
          clip-path: polygon(0 0, 0 100%, 45% 100%);
}
.popup .popup__piece:nth-child(13) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-19vw, -16vh, -29px) rotateX(417deg) rotateY(249deg);
  -webkit-clip-path: polygon(0 0, 45% 100%, 100% 0);
          clip-path: polygon(0 0, 45% 100%, 100% 0);
}
.popup .popup__piece:nth-child(13) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-53vw, 57vh, -593px) rotateX(145deg) rotateY(338deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 45% 100%);
          clip-path: polygon(100% 0, 100% 100%, 45% 100%);
}
.popup.s--closed .popup__piece:nth-child(13) {
  transform: translate3d(0, 136vh, 0);
}
.popup.s--closed .popup__piece:nth-child(13) .popup__piece-inner:nth-child(1) {
  transform: translate3d(6vw, 0, 0) rotateX(197deg) rotateY(358deg);
}
.popup.s--closed .popup__piece:nth-child(13) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-19vw, 0, 0) rotateX(316deg) rotateY(204deg);
}
.popup.s--closed .popup__piece:nth-child(13) .popup__piece-inner:nth-child(3) {
  transform: translate3d(33vw, 0, 0) rotateX(461deg) rotateY(206deg);
}
.popup .popup__piece:nth-child(14) {
  height: 17.6666666667%;
  width: 14.6666666667%;
}
.popup .popup__piece:nth-child(14) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-25vw, 1vh, 90px) rotateX(371deg) rotateY(287deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 62% 100%);
          clip-path: polygon(0 0, 0 100%, 62% 100%);
}
.popup .popup__piece:nth-child(14) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-13vw, -51vh, 225px) rotateX(146deg) rotateY(356deg);
  -webkit-clip-path: polygon(0 0, 62% 100%, 100% 0);
          clip-path: polygon(0 0, 62% 100%, 100% 0);
}
.popup .popup__piece:nth-child(14) .popup__piece-inner:nth-child(3) {
  transform: translate3d(30vw, 4vh, 635px) rotateX(431deg) rotateY(294deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 62% 100%);
          clip-path: polygon(100% 0, 100% 100%, 62% 100%);
}
.popup.s--closed .popup__piece:nth-child(14) {
  transform: translate3d(0, 112vh, 0);
}
.popup.s--closed .popup__piece:nth-child(14) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-42vw, 0, 0) rotateX(309deg) rotateY(335deg);
}
.popup.s--closed .popup__piece:nth-child(14) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-42vw, 0, 0) rotateX(380deg) rotateY(353deg);
}
.popup.s--closed .popup__piece:nth-child(14) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-44vw, 0, 0) rotateX(170deg) rotateY(123deg);
}
.popup .popup__piece:nth-child(15) {
  height: 17.6666666667%;
  width: 18.6666666667%;
}
.popup .popup__piece:nth-child(15) .popup__piece-inner:nth-child(1) {
  transform: translate3d(41vw, 45vh, -875px) rotateX(203deg) rotateY(281deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 67% 100%);
          clip-path: polygon(0 0, 0 100%, 67% 100%);
}
.popup .popup__piece:nth-child(15) .popup__piece-inner:nth-child(2) {
  transform: translate3d(58vw, 34vh, -54px) rotateX(263deg) rotateY(249deg);
  -webkit-clip-path: polygon(0 0, 67% 100%, 100% 0);
          clip-path: polygon(0 0, 67% 100%, 100% 0);
}
.popup .popup__piece:nth-child(15) .popup__piece-inner:nth-child(3) {
  transform: translate3d(40vw, 39vh, 856px) rotateX(189deg) rotateY(261deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 67% 100%);
          clip-path: polygon(100% 0, 100% 100%, 67% 100%);
}
.popup.s--closed .popup__piece:nth-child(15) {
  transform: translate3d(0, 137vh, 0);
}
.popup.s--closed .popup__piece:nth-child(15) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-30vw, 0, 0) rotateX(286deg) rotateY(148deg);
}
.popup.s--closed .popup__piece:nth-child(15) .popup__piece-inner:nth-child(2) {
  transform: translate3d(43vw, 0, 0) rotateX(399deg) rotateY(470deg);
}
.popup.s--closed .popup__piece:nth-child(15) .popup__piece-inner:nth-child(3) {
  transform: translate3d(64vw, 0, 0) rotateX(171deg) rotateY(356deg);
}
.popup .popup__piece:nth-child(16) {
  height: 17.6666666667%;
  width: 18.6666666667%;
}
.popup .popup__piece:nth-child(16) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-51vw, -33vh, 554px) rotateX(210deg) rotateY(306deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 34% 100%);
          clip-path: polygon(0 0, 0 100%, 34% 100%);
}
.popup .popup__piece:nth-child(16) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-34vw, -38vh, -752px) rotateX(140deg) rotateY(247deg);
  -webkit-clip-path: polygon(0 0, 34% 100%, 100% 0);
          clip-path: polygon(0 0, 34% 100%, 100% 0);
}
.popup .popup__piece:nth-child(16) .popup__piece-inner:nth-child(3) {
  transform: translate3d(2vw, -47vh, -256px) rotateX(464deg) rotateY(334deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 34% 100%);
          clip-path: polygon(100% 0, 100% 100%, 34% 100%);
}
.popup.s--closed .popup__piece:nth-child(16) {
  transform: translate3d(0, 110vh, 0);
}
.popup.s--closed .popup__piece:nth-child(16) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-71vw, 0, 0) rotateX(447deg) rotateY(250deg);
}
.popup.s--closed .popup__piece:nth-child(16) .popup__piece-inner:nth-child(2) {
  transform: translate3d(33vw, 0, 0) rotateX(268deg) rotateY(337deg);
}
.popup.s--closed .popup__piece:nth-child(16) .popup__piece-inner:nth-child(3) {
  transform: translate3d(19vw, 0, 0) rotateX(164deg) rotateY(474deg);
}
.popup .popup__piece:nth-child(17) {
  height: 17.6666666667%;
  width: 14.6666666667%;
}
.popup .popup__piece:nth-child(17) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-17vw, -7vh, -528px) rotateX(395deg) rotateY(262deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 33% 100%);
          clip-path: polygon(0 0, 0 100%, 33% 100%);
}
.popup .popup__piece:nth-child(17) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-5vw, 29vh, 614px) rotateX(322deg) rotateY(225deg);
  -webkit-clip-path: polygon(0 0, 33% 100%, 100% 0);
          clip-path: polygon(0 0, 33% 100%, 100% 0);
}
.popup .popup__piece:nth-child(17) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-51vw, -43vh, 148px) rotateX(355deg) rotateY(210deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 33% 100%);
          clip-path: polygon(100% 0, 100% 100%, 33% 100%);
}
.popup.s--closed .popup__piece:nth-child(17) {
  transform: translate3d(0, 110vh, 0);
}
.popup.s--closed .popup__piece:nth-child(17) .popup__piece-inner:nth-child(1) {
  transform: translate3d(24vw, 0, 0) rotateX(146deg) rotateY(369deg);
}
.popup.s--closed .popup__piece:nth-child(17) .popup__piece-inner:nth-child(2) {
  transform: translate3d(38vw, 0, 0) rotateX(463deg) rotateY(143deg);
}
.popup.s--closed .popup__piece:nth-child(17) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-3vw, 0, 0) rotateX(256deg) rotateY(180deg);
}
.popup .popup__piece:nth-child(18) {
  height: 17.6666666667%;
  width: 16.6666666667%;
}
.popup .popup__piece:nth-child(18) .popup__piece-inner:nth-child(1) {
  transform: translate3d(7vw, -23vh, 538px) rotateX(460deg) rotateY(423deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 45% 100%);
          clip-path: polygon(0 0, 0 100%, 45% 100%);
}
.popup .popup__piece:nth-child(18) .popup__piece-inner:nth-child(2) {
  transform: translate3d(17vw, 50vh, -39px) rotateX(179deg) rotateY(162deg);
  -webkit-clip-path: polygon(0 0, 45% 100%, 100% 0);
          clip-path: polygon(0 0, 45% 100%, 100% 0);
}
.popup .popup__piece:nth-child(18) .popup__piece-inner:nth-child(3) {
  transform: translate3d(12vw, -56vh, 471px) rotateX(127deg) rotateY(241deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 45% 100%);
          clip-path: polygon(100% 0, 100% 100%, 45% 100%);
}
.popup.s--closed .popup__piece:nth-child(18) {
  transform: translate3d(0, 130vh, 0);
}
.popup.s--closed .popup__piece:nth-child(18) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-14vw, 0, 0) rotateX(273deg) rotateY(478deg);
}
.popup.s--closed .popup__piece:nth-child(18) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-64vw, 0, 0) rotateX(180deg) rotateY(284deg);
}
.popup.s--closed .popup__piece:nth-child(18) .popup__piece-inner:nth-child(3) {
  transform: translate3d(79vw, 0, 0) rotateX(311deg) rotateY(219deg);
}
.popup .popup__piece:nth-child(19) {
  height: 18.6666666667%;
  width: 13.6666666667%;
}
.popup .popup__piece:nth-child(19) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-59vw, 37vh, -69px) rotateX(396deg) rotateY(182deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 58% 100%);
          clip-path: polygon(0 0, 0 100%, 58% 100%);
}
.popup .popup__piece:nth-child(19) .popup__piece-inner:nth-child(2) {
  transform: translate3d(10vw, 26vh, -633px) rotateX(375deg) rotateY(258deg);
  -webkit-clip-path: polygon(0 0, 58% 100%, 100% 0);
          clip-path: polygon(0 0, 58% 100%, 100% 0);
}
.popup .popup__piece:nth-child(19) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-28vw, 12vh, -587px) rotateX(353deg) rotateY(169deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 58% 100%);
          clip-path: polygon(100% 0, 100% 100%, 58% 100%);
}
.popup.s--closed .popup__piece:nth-child(19) {
  transform: translate3d(0, 103vh, 0);
}
.popup.s--closed .popup__piece:nth-child(19) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-30vw, 0, 0) rotateX(294deg) rotateY(327deg);
}
.popup.s--closed .popup__piece:nth-child(19) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-61vw, 0, 0) rotateX(147deg) rotateY(323deg);
}
.popup.s--closed .popup__piece:nth-child(19) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-37vw, 0, 0) rotateX(240deg) rotateY(379deg);
}
.popup .popup__piece:nth-child(20) {
  height: 18.6666666667%;
  width: 18.6666666667%;
}
.popup .popup__piece:nth-child(20) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-6vw, -28vh, -179px) rotateX(406deg) rotateY(300deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 49% 100%);
          clip-path: polygon(0 0, 0 100%, 49% 100%);
}
.popup .popup__piece:nth-child(20) .popup__piece-inner:nth-child(2) {
  transform: translate3d(8vw, -32vh, -828px) rotateX(252deg) rotateY(447deg);
  -webkit-clip-path: polygon(0 0, 49% 100%, 100% 0);
          clip-path: polygon(0 0, 49% 100%, 100% 0);
}
.popup .popup__piece:nth-child(20) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-54vw, -40vh, -838px) rotateX(247deg) rotateY(355deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 49% 100%);
          clip-path: polygon(100% 0, 100% 100%, 49% 100%);
}
.popup.s--closed .popup__piece:nth-child(20) {
  transform: translate3d(0, 133vh, 0);
}
.popup.s--closed .popup__piece:nth-child(20) .popup__piece-inner:nth-child(1) {
  transform: translate3d(66vw, 0, 0) rotateX(437deg) rotateY(358deg);
}
.popup.s--closed .popup__piece:nth-child(20) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-47vw, 0, 0) rotateX(257deg) rotateY(339deg);
}
.popup.s--closed .popup__piece:nth-child(20) .popup__piece-inner:nth-child(3) {
  transform: translate3d(23vw, 0, 0) rotateX(405deg) rotateY(455deg);
}
.popup .popup__piece:nth-child(21) {
  height: 18.6666666667%;
  width: 17.6666666667%;
}
.popup .popup__piece:nth-child(21) .popup__piece-inner:nth-child(1) {
  transform: translate3d(40vw, -40vh, 268px) rotateX(253deg) rotateY(193deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 60% 100%);
          clip-path: polygon(0 0, 0 100%, 60% 100%);
}
.popup .popup__piece:nth-child(21) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-40vw, -16vh, -121px) rotateX(230deg) rotateY(163deg);
  -webkit-clip-path: polygon(0 0, 60% 100%, 100% 0);
          clip-path: polygon(0 0, 60% 100%, 100% 0);
}
.popup .popup__piece:nth-child(21) .popup__piece-inner:nth-child(3) {
  transform: translate3d(59vw, 23vh, -794px) rotateX(139deg) rotateY(304deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 60% 100%);
          clip-path: polygon(100% 0, 100% 100%, 60% 100%);
}
.popup.s--closed .popup__piece:nth-child(21) {
  transform: translate3d(0, 121vh, 0);
}
.popup.s--closed .popup__piece:nth-child(21) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-30vw, 0, 0) rotateX(436deg) rotateY(431deg);
}
.popup.s--closed .popup__piece:nth-child(21) .popup__piece-inner:nth-child(2) {
  transform: translate3d(69vw, 0, 0) rotateX(390deg) rotateY(278deg);
}
.popup.s--closed .popup__piece:nth-child(21) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-65vw, 0, 0) rotateX(396deg) rotateY(292deg);
}
.popup .popup__piece:nth-child(22) {
  height: 18.6666666667%;
  width: 17.6666666667%;
}
.popup .popup__piece:nth-child(22) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-30vw, 35vh, -865px) rotateX(232deg) rotateY(160deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 39% 100%);
          clip-path: polygon(0 0, 0 100%, 39% 100%);
}
.popup .popup__piece:nth-child(22) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-1vw, -54vh, 715px) rotateX(387deg) rotateY(440deg);
  -webkit-clip-path: polygon(0 0, 39% 100%, 100% 0);
          clip-path: polygon(0 0, 39% 100%, 100% 0);
}
.popup .popup__piece:nth-child(22) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-15vw, 29vh, -458px) rotateX(341deg) rotateY(478deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 39% 100%);
          clip-path: polygon(100% 0, 100% 100%, 39% 100%);
}
.popup.s--closed .popup__piece:nth-child(22) {
  transform: translate3d(0, 143vh, 0);
}
.popup.s--closed .popup__piece:nth-child(22) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-37vw, 0, 0) rotateX(353deg) rotateY(149deg);
}
.popup.s--closed .popup__piece:nth-child(22) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-29vw, 0, 0) rotateX(375deg) rotateY(341deg);
}
.popup.s--closed .popup__piece:nth-child(22) .popup__piece-inner:nth-child(3) {
  transform: translate3d(6vw, 0, 0) rotateX(463deg) rotateY(429deg);
}
.popup .popup__piece:nth-child(23) {
  height: 18.6666666667%;
  width: 18.6666666667%;
}
.popup .popup__piece:nth-child(23) .popup__piece-inner:nth-child(1) {
  transform: translate3d(52vw, -31vh, 567px) rotateX(254deg) rotateY(140deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 55% 100%);
          clip-path: polygon(0 0, 0 100%, 55% 100%);
}
.popup .popup__piece:nth-child(23) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-55vw, 3vh, 64px) rotateX(449deg) rotateY(194deg);
  -webkit-clip-path: polygon(0 0, 55% 100%, 100% 0);
          clip-path: polygon(0 0, 55% 100%, 100% 0);
}
.popup .popup__piece:nth-child(23) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-31vw, 16vh, -726px) rotateX(471deg) rotateY(213deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 55% 100%);
          clip-path: polygon(100% 0, 100% 100%, 55% 100%);
}
.popup.s--closed .popup__piece:nth-child(23) {
  transform: translate3d(0, 138vh, 0);
}
.popup.s--closed .popup__piece:nth-child(23) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-61vw, 0, 0) rotateX(352deg) rotateY(247deg);
}
.popup.s--closed .popup__piece:nth-child(23) .popup__piece-inner:nth-child(2) {
  transform: translate3d(58vw, 0, 0) rotateX(335deg) rotateY(372deg);
}
.popup.s--closed .popup__piece:nth-child(23) .popup__piece-inner:nth-child(3) {
  transform: translate3d(16vw, 0, 0) rotateX(234deg) rotateY(249deg);
}
.popup .popup__piece:nth-child(24) {
  height: 18.6666666667%;
  width: 13.6666666667%;
}
.popup .popup__piece:nth-child(24) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-10vw, -27vh, 380px) rotateX(267deg) rotateY(180deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 36% 100%);
          clip-path: polygon(0 0, 0 100%, 36% 100%);
}
.popup .popup__piece:nth-child(24) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-31vw, 8vh, 311px) rotateX(283deg) rotateY(188deg);
  -webkit-clip-path: polygon(0 0, 36% 100%, 100% 0);
          clip-path: polygon(0 0, 36% 100%, 100% 0);
}
.popup .popup__piece:nth-child(24) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-47vw, -31vh, -338px) rotateX(393deg) rotateY(377deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 36% 100%);
          clip-path: polygon(100% 0, 100% 100%, 36% 100%);
}
.popup.s--closed .popup__piece:nth-child(24) {
  transform: translate3d(0, 140vh, 0);
}
.popup.s--closed .popup__piece:nth-child(24) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-26vw, 0, 0) rotateX(130deg) rotateY(291deg);
}
.popup.s--closed .popup__piece:nth-child(24) .popup__piece-inner:nth-child(2) {
  transform: translate3d(57vw, 0, 0) rotateX(374deg) rotateY(144deg);
}
.popup.s--closed .popup__piece:nth-child(24) .popup__piece-inner:nth-child(3) {
  transform: translate3d(25vw, 0, 0) rotateX(369deg) rotateY(347deg);
}
.popup .popup__piece:nth-child(25) {
  height: 21.6666666667%;
  width: 18.6666666667%;
}
.popup .popup__piece:nth-child(25) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-8vw, -36vh, 448px) rotateX(283deg) rotateY(366deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 36% 100%);
          clip-path: polygon(0 0, 0 100%, 36% 100%);
}
.popup .popup__piece:nth-child(25) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-22vw, 16vh, -70px) rotateX(328deg) rotateY(443deg);
  -webkit-clip-path: polygon(0 0, 36% 100%, 100% 0);
          clip-path: polygon(0 0, 36% 100%, 100% 0);
}
.popup .popup__piece:nth-child(25) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-51vw, 47vh, -875px) rotateX(205deg) rotateY(347deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 36% 100%);
          clip-path: polygon(100% 0, 100% 100%, 36% 100%);
}
.popup.s--closed .popup__piece:nth-child(25) {
  transform: translate3d(0, 127vh, 0);
}
.popup.s--closed .popup__piece:nth-child(25) .popup__piece-inner:nth-child(1) {
  transform: translate3d(39vw, 0, 0) rotateX(275deg) rotateY(242deg);
}
.popup.s--closed .popup__piece:nth-child(25) .popup__piece-inner:nth-child(2) {
  transform: translate3d(79vw, 0, 0) rotateX(300deg) rotateY(139deg);
}
.popup.s--closed .popup__piece:nth-child(25) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-8vw, 0, 0) rotateX(232deg) rotateY(217deg);
}
.popup .popup__piece:nth-child(26) {
  height: 21.6666666667%;
  width: 20.6666666667%;
}
.popup .popup__piece:nth-child(26) .popup__piece-inner:nth-child(1) {
  transform: translate3d(59vw, 48vh, 262px) rotateX(157deg) rotateY(185deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 52% 100%);
          clip-path: polygon(0 0, 0 100%, 52% 100%);
}
.popup .popup__piece:nth-child(26) .popup__piece-inner:nth-child(2) {
  transform: translate3d(6vw, -43vh, -545px) rotateX(203deg) rotateY(367deg);
  -webkit-clip-path: polygon(0 0, 52% 100%, 100% 0);
          clip-path: polygon(0 0, 52% 100%, 100% 0);
}
.popup .popup__piece:nth-child(26) .popup__piece-inner:nth-child(3) {
  transform: translate3d(31vw, -28vh, -783px) rotateX(426deg) rotateY(350deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 52% 100%);
          clip-path: polygon(100% 0, 100% 100%, 52% 100%);
}
.popup.s--closed .popup__piece:nth-child(26) {
  transform: translate3d(0, 110vh, 0);
}
.popup.s--closed .popup__piece:nth-child(26) .popup__piece-inner:nth-child(1) {
  transform: translate3d(54vw, 0, 0) rotateX(178deg) rotateY(128deg);
}
.popup.s--closed .popup__piece:nth-child(26) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-31vw, 0, 0) rotateX(469deg) rotateY(181deg);
}
.popup.s--closed .popup__piece:nth-child(26) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-8vw, 0, 0) rotateX(175deg) rotateY(127deg);
}
.popup .popup__piece:nth-child(27) {
  height: 21.6666666667%;
  width: 12.6666666667%;
}
.popup .popup__piece:nth-child(27) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-28vw, -23vh, 499px) rotateX(431deg) rotateY(228deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 39% 100%);
          clip-path: polygon(0 0, 0 100%, 39% 100%);
}
.popup .popup__piece:nth-child(27) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-40vw, 19vh, -290px) rotateX(132deg) rotateY(424deg);
  -webkit-clip-path: polygon(0 0, 39% 100%, 100% 0);
          clip-path: polygon(0 0, 39% 100%, 100% 0);
}
.popup .popup__piece:nth-child(27) .popup__piece-inner:nth-child(3) {
  transform: translate3d(2vw, -6vh, 621px) rotateX(333deg) rotateY(125deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 39% 100%);
          clip-path: polygon(100% 0, 100% 100%, 39% 100%);
}
.popup.s--closed .popup__piece:nth-child(27) {
  transform: translate3d(0, 118vh, 0);
}
.popup.s--closed .popup__piece:nth-child(27) .popup__piece-inner:nth-child(1) {
  transform: translate3d(27vw, 0, 0) rotateX(228deg) rotateY(359deg);
}
.popup.s--closed .popup__piece:nth-child(27) .popup__piece-inner:nth-child(2) {
  transform: translate3d(78vw, 0, 0) rotateX(391deg) rotateY(277deg);
}
.popup.s--closed .popup__piece:nth-child(27) .popup__piece-inner:nth-child(3) {
  transform: translate3d(59vw, 0, 0) rotateX(181deg) rotateY(304deg);
}
.popup .popup__piece:nth-child(28) {
  height: 21.6666666667%;
  width: 21.6666666667%;
}
.popup .popup__piece:nth-child(28) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-44vw, -59vh, 508px) rotateX(376deg) rotateY(337deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 54% 100%);
          clip-path: polygon(0 0, 0 100%, 54% 100%);
}
.popup .popup__piece:nth-child(28) .popup__piece-inner:nth-child(2) {
  transform: translate3d(52vw, 45vh, -351px) rotateX(194deg) rotateY(346deg);
  -webkit-clip-path: polygon(0 0, 54% 100%, 100% 0);
          clip-path: polygon(0 0, 54% 100%, 100% 0);
}
.popup .popup__piece:nth-child(28) .popup__piece-inner:nth-child(3) {
  transform: translate3d(13vw, -43vh, 113px) rotateX(213deg) rotateY(362deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 54% 100%);
          clip-path: polygon(100% 0, 100% 100%, 54% 100%);
}
.popup.s--closed .popup__piece:nth-child(28) {
  transform: translate3d(0, 113vh, 0);
}
.popup.s--closed .popup__piece:nth-child(28) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-20vw, 0, 0) rotateX(142deg) rotateY(250deg);
}
.popup.s--closed .popup__piece:nth-child(28) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-72vw, 0, 0) rotateX(374deg) rotateY(420deg);
}
.popup.s--closed .popup__piece:nth-child(28) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-79vw, 0, 0) rotateX(381deg) rotateY(260deg);
}
.popup .popup__piece:nth-child(29) {
  height: 21.6666666667%;
  width: 10.6666666667%;
}
.popup .popup__piece:nth-child(29) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-56vw, 40vh, 639px) rotateX(372deg) rotateY(336deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 56% 100%);
          clip-path: polygon(0 0, 0 100%, 56% 100%);
}
.popup .popup__piece:nth-child(29) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-3vw, 8vh, 142px) rotateX(293deg) rotateY(154deg);
  -webkit-clip-path: polygon(0 0, 56% 100%, 100% 0);
          clip-path: polygon(0 0, 56% 100%, 100% 0);
}
.popup .popup__piece:nth-child(29) .popup__piece-inner:nth-child(3) {
  transform: translate3d(41vw, 16vh, 31px) rotateX(126deg) rotateY(175deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 56% 100%);
          clip-path: polygon(100% 0, 100% 100%, 56% 100%);
}
.popup.s--closed .popup__piece:nth-child(29) {
  transform: translate3d(0, 135vh, 0);
}
.popup.s--closed .popup__piece:nth-child(29) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-65vw, 0, 0) rotateX(296deg) rotateY(275deg);
}
.popup.s--closed .popup__piece:nth-child(29) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-65vw, 0, 0) rotateX(446deg) rotateY(195deg);
}
.popup.s--closed .popup__piece:nth-child(29) .popup__piece-inner:nth-child(3) {
  transform: translate3d(59vw, 0, 0) rotateX(432deg) rotateY(471deg);
}
.popup .popup__piece:nth-child(30) {
  height: 21.6666666667%;
  width: 15.6666666667%;
}
.popup .popup__piece:nth-child(30) .popup__piece-inner:nth-child(1) {
  transform: translate3d(42vw, -16vh, 786px) rotateX(293deg) rotateY(454deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 44% 100%);
          clip-path: polygon(0 0, 0 100%, 44% 100%);
}
.popup .popup__piece:nth-child(30) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-8vw, -46vh, -256px) rotateX(266deg) rotateY(412deg);
  -webkit-clip-path: polygon(0 0, 44% 100%, 100% 0);
          clip-path: polygon(0 0, 44% 100%, 100% 0);
}
.popup .popup__piece:nth-child(30) .popup__piece-inner:nth-child(3) {
  transform: translate3d(59vw, -2vh, -572px) rotateX(461deg) rotateY(180deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 44% 100%);
          clip-path: polygon(100% 0, 100% 100%, 44% 100%);
}
.popup.s--closed .popup__piece:nth-child(30) {
  transform: translate3d(0, 150vh, 0);
}
.popup.s--closed .popup__piece:nth-child(30) .popup__piece-inner:nth-child(1) {
  transform: translate3d(40vw, 0, 0) rotateX(390deg) rotateY(201deg);
}
.popup.s--closed .popup__piece:nth-child(30) .popup__piece-inner:nth-child(2) {
  transform: translate3d(63vw, 0, 0) rotateX(188deg) rotateY(362deg);
}
.popup.s--closed .popup__piece:nth-child(30) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-15vw, 0, 0) rotateX(334deg) rotateY(264deg);
}
.popup .popup__piece:nth-child(31) {
  height: 7.6666666667%;
  width: 21.6666666667%;
}
.popup .popup__piece:nth-child(31) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-35vw, -27vh, -496px) rotateX(412deg) rotateY(431deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 40% 100%);
          clip-path: polygon(0 0, 0 100%, 40% 100%);
}
.popup .popup__piece:nth-child(31) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-15vw, 44vh, 120px) rotateX(187deg) rotateY(216deg);
  -webkit-clip-path: polygon(0 0, 40% 100%, 100% 0);
          clip-path: polygon(0 0, 40% 100%, 100% 0);
}
.popup .popup__piece:nth-child(31) .popup__piece-inner:nth-child(3) {
  transform: translate3d(30vw, 57vh, 650px) rotateX(322deg) rotateY(280deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 40% 100%);
          clip-path: polygon(100% 0, 100% 100%, 40% 100%);
}
.popup.s--closed .popup__piece:nth-child(31) {
  transform: translate3d(0, 123vh, 0);
}
.popup.s--closed .popup__piece:nth-child(31) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-14vw, 0, 0) rotateX(357deg) rotateY(425deg);
}
.popup.s--closed .popup__piece:nth-child(31) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-14vw, 0, 0) rotateX(219deg) rotateY(389deg);
}
.popup.s--closed .popup__piece:nth-child(31) .popup__piece-inner:nth-child(3) {
  transform: translate3d(33vw, 0, 0) rotateX(233deg) rotateY(303deg);
}
.popup .popup__piece:nth-child(32) {
  height: 7.6666666667%;
  width: 19.6666666667%;
}
.popup .popup__piece:nth-child(32) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-41vw, 32vh, -431px) rotateX(343deg) rotateY(171deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 43% 100%);
          clip-path: polygon(0 0, 0 100%, 43% 100%);
}
.popup .popup__piece:nth-child(32) .popup__piece-inner:nth-child(2) {
  transform: translate3d(57vw, -46vh, 868px) rotateX(296deg) rotateY(281deg);
  -webkit-clip-path: polygon(0 0, 43% 100%, 100% 0);
          clip-path: polygon(0 0, 43% 100%, 100% 0);
}
.popup .popup__piece:nth-child(32) .popup__piece-inner:nth-child(3) {
  transform: translate3d(39vw, 51vh, -603px) rotateX(183deg) rotateY(254deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 43% 100%);
          clip-path: polygon(100% 0, 100% 100%, 43% 100%);
}
.popup.s--closed .popup__piece:nth-child(32) {
  transform: translate3d(0, 114vh, 0);
}
.popup.s--closed .popup__piece:nth-child(32) .popup__piece-inner:nth-child(1) {
  transform: translate3d(3vw, 0, 0) rotateX(451deg) rotateY(462deg);
}
.popup.s--closed .popup__piece:nth-child(32) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-32vw, 0, 0) rotateX(392deg) rotateY(174deg);
}
.popup.s--closed .popup__piece:nth-child(32) .popup__piece-inner:nth-child(3) {
  transform: translate3d(47vw, 0, 0) rotateX(384deg) rotateY(156deg);
}
.popup .popup__piece:nth-child(33) {
  height: 7.6666666667%;
  width: 20.6666666667%;
}
.popup .popup__piece:nth-child(33) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-28vw, 19vh, 129px) rotateX(432deg) rotateY(455deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 41% 100%);
          clip-path: polygon(0 0, 0 100%, 41% 100%);
}
.popup .popup__piece:nth-child(33) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-1vw, 20vh, -658px) rotateX(127deg) rotateY(153deg);
  -webkit-clip-path: polygon(0 0, 41% 100%, 100% 0);
          clip-path: polygon(0 0, 41% 100%, 100% 0);
}
.popup .popup__piece:nth-child(33) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-35vw, 59vh, 17px) rotateX(194deg) rotateY(352deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 41% 100%);
          clip-path: polygon(100% 0, 100% 100%, 41% 100%);
}
.popup.s--closed .popup__piece:nth-child(33) {
  transform: translate3d(0, 121vh, 0);
}
.popup.s--closed .popup__piece:nth-child(33) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-73vw, 0, 0) rotateX(237deg) rotateY(284deg);
}
.popup.s--closed .popup__piece:nth-child(33) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-70vw, 0, 0) rotateX(358deg) rotateY(141deg);
}
.popup.s--closed .popup__piece:nth-child(33) .popup__piece-inner:nth-child(3) {
  transform: translate3d(67vw, 0, 0) rotateX(305deg) rotateY(453deg);
}
.popup .popup__piece:nth-child(34) {
  height: 7.6666666667%;
  width: 17.6666666667%;
}
.popup .popup__piece:nth-child(34) .popup__piece-inner:nth-child(1) {
  transform: translate3d(43vw, -1vh, -467px) rotateX(147deg) rotateY(149deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 67% 100%);
          clip-path: polygon(0 0, 0 100%, 67% 100%);
}
.popup .popup__piece:nth-child(34) .popup__piece-inner:nth-child(2) {
  transform: translate3d(42vw, 49vh, 446px) rotateX(443deg) rotateY(299deg);
  -webkit-clip-path: polygon(0 0, 67% 100%, 100% 0);
          clip-path: polygon(0 0, 67% 100%, 100% 0);
}
.popup .popup__piece:nth-child(34) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-55vw, 25vh, -178px) rotateX(367deg) rotateY(258deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 67% 100%);
          clip-path: polygon(100% 0, 100% 100%, 67% 100%);
}
.popup.s--closed .popup__piece:nth-child(34) {
  transform: translate3d(0, 140vh, 0);
}
.popup.s--closed .popup__piece:nth-child(34) .popup__piece-inner:nth-child(1) {
  transform: translate3d(0vw, 0, 0) rotateX(249deg) rotateY(156deg);
}
.popup.s--closed .popup__piece:nth-child(34) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-6vw, 0, 0) rotateX(339deg) rotateY(317deg);
}
.popup.s--closed .popup__piece:nth-child(34) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-9vw, 0, 0) rotateX(442deg) rotateY(466deg);
}
.popup .popup__piece:nth-child(35) {
  height: 7.6666666667%;
  width: 5.6666666667%;
}
.popup .popup__piece:nth-child(35) .popup__piece-inner:nth-child(1) {
  transform: translate3d(46vw, 17vh, -867px) rotateX(194deg) rotateY(326deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 52% 100%);
          clip-path: polygon(0 0, 0 100%, 52% 100%);
}
.popup .popup__piece:nth-child(35) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-43vw, -13vh, 750px) rotateX(176deg) rotateY(340deg);
  -webkit-clip-path: polygon(0 0, 52% 100%, 100% 0);
          clip-path: polygon(0 0, 52% 100%, 100% 0);
}
.popup .popup__piece:nth-child(35) .popup__piece-inner:nth-child(3) {
  transform: translate3d(47vw, 31vh, -755px) rotateX(169deg) rotateY(346deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 52% 100%);
          clip-path: polygon(100% 0, 100% 100%, 52% 100%);
}
.popup.s--closed .popup__piece:nth-child(35) {
  transform: translate3d(0, 103vh, 0);
}
.popup.s--closed .popup__piece:nth-child(35) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-40vw, 0, 0) rotateX(472deg) rotateY(382deg);
}
.popup.s--closed .popup__piece:nth-child(35) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-23vw, 0, 0) rotateX(193deg) rotateY(184deg);
}
.popup.s--closed .popup__piece:nth-child(35) .popup__piece-inner:nth-child(3) {
  transform: translate3d(1vw, 0, 0) rotateX(125deg) rotateY(274deg);
}
.popup .popup__piece:nth-child(36) {
  height: 7.6666666667%;
  width: 14.6666666667%;
}
.popup .popup__piece:nth-child(36) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-1vw, -41vh, -316px) rotateX(297deg) rotateY(207deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 67% 100%);
          clip-path: polygon(0 0, 0 100%, 67% 100%);
}
.popup .popup__piece:nth-child(36) .popup__piece-inner:nth-child(2) {
  transform: translate3d(44vw, 7vh, -212px) rotateX(371deg) rotateY(314deg);
  -webkit-clip-path: polygon(0 0, 67% 100%, 100% 0);
          clip-path: polygon(0 0, 67% 100%, 100% 0);
}
.popup .popup__piece:nth-child(36) .popup__piece-inner:nth-child(3) {
  transform: translate3d(34vw, 52vh, -546px) rotateX(380deg) rotateY(161deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 67% 100%);
          clip-path: polygon(100% 0, 100% 100%, 67% 100%);
}
.popup.s--closed .popup__piece:nth-child(36) {
  transform: translate3d(0, 129vh, 0);
}
.popup.s--closed .popup__piece:nth-child(36) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-68vw, 0, 0) rotateX(329deg) rotateY(375deg);
}
.popup.s--closed .popup__piece:nth-child(36) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-9vw, 0, 0) rotateX(169deg) rotateY(200deg);
}
.popup.s--closed .popup__piece:nth-child(36) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-51vw, 0, 0) rotateX(470deg) rotateY(318deg);
}
.popup__pieces {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.popup__piece {
  float: left;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0s 0s;
}
.popup.s--closed .popup__piece {
  transition: transform 0.7s 0.1s cubic-bezier(0.69, -0.47, 0.97, 1.04);
}
.popup__piece:after {
  content: "";
  display: table;
  clear: both;
}
.popup__piece-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.28s 0.55s ease-in, transform 0.7s 0.1s ease-out;
}
.popup.s--active .popup__piece-inner {
  transition: opacity 0.35s, transform 0.7s ease-in-out;
  transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) !important;
  opacity: 1;
}
.popup__content {
  position: relative;
  min-height: 500px;
  padding: 30px;
  background: #000;
  color: #fff;
  transition: opacity 0.2s;
  opacity: 0;
}
.popup.s--active .popup__content {
  transition-delay: 0.6s;
  opacity: 1;
}
.popup__close {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.popup__close:before, .popup__close:after {
  content: "";
  position: absolute;
  left: 0;
  top: 14px;
  width: 100%;
  height: 2px;
  background: #fff;
}
.popup__close:before {
  transform: rotate(45deg);
}
.popup__close:after {
  transform: rotate(-45deg);
}
.popup__heading {
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.popup__text {
  font-size: 18px;
  line-height: 1.5;
}

.popup-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 50px;
  margin-left: -100px;
  margin-top: -25px;
  background: transparent;
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  border: 2px solid #000;
  transition: all 0.3s;
  cursor: pointer;
}
.popup-btn:hover {
  background-color: #000;
  color: #fff;
  letter-spacing: 2px;
}